{{define "page:title"}}Todos!{{end}}

{{define "page:body"}}
    {{ template "todo:form" .}}
    {{ template "todo:form-search" .}}

    <div class="flex-col w-[450px] mx-auto mt-[12px]">
        {{ template "todo:list" .todos}}
    </div>
{{end}}

{{template "base.tmpl" .}}
