[Unit]
Description=App

[Service]
EnvironmentFile=/root/todos/.prod
ExecStart=/root/todos/app
WorkingDirectory=/root/todos
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
