{{define "todo:card-frame" }}
    <turbo-frame id="todo-{{.ID}}" class="flex select-none">
        <label class="hover:bg-gray-100 p-2 hover:cursor-pointer rounded-[8px] items-center w-full overflow-hidden truncate">
            <input onchange="this.form.requestSubmit()" type="checkbox" name="status" {{if eq .Status "done"}}checked{{end}}>
            {{ block "todo:card-frame:label-task" .}}{{end}}
        </label>

        <div class="flex justify-center w-12 items-center">
            {{ block "todo:card-frame:button" .}}{{end}}
        </div>
    </turbo-frame>
{{end}}