{{define "todo:card" }}
    <turbo-frame id="todo-{{.ID}}-outer">
        <form method="POST" action="/todos/{{.ID}}/update">
            {{template "todo:card-frame" .}}
        </form>
    </turbo-frame>
{{end}}

{{define "todo:card-frame:label-task"}}
    <span>
        {{.Task}}
    </span>
{{end}}

{{define "todo:card-frame:button"}}
    <a href="/todos/{{.ID}}/edit" class="ml-auto w-6" data-turbo-stream>
        edit
    </a>
{{end}}