{{define "todo:card" }}
    <turbo-frame id="todo-{{.ID}}-outer">
        <form method="POST" action="/todos/{{.ID}}/update">
            {{template "todo:card-frame" .}}
        </form>
    </turbo-frame>
{{end}}

{{define "todo:card-frame:label-task"}}
    <span>
        {{.Task}}
    </span>
{{end}}

{{define "todo:card-frame:button"}}
    <a href="/todos/{{.ID}}/edit" class="min-w-[70px] text-center p-2 ml-2 hover:bg-gray-100 rounded-[10px]" data-turbo-stream data-testitem="todo_card_frame_button_edit">
        edit
    </a>
{{end}}